<%- include ("partials/header") %>
    <div class="container-fluid">
        <div class="row mt-5" id="features_table_row"> 
            <div class="col">
                <div class="card bg-dark text-center my-3">
                    <table class="table table-responsive-sm table-sm text-white" id="features_table">
                        <thead>
                            <tr>
                                <th>Track</th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="1.0 represents high confidence track is acoustic."
                                    class="tooltip-custom">Acousticness <i
                                        class="far fa-question-circle"></i></th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="A value of 0.0 is least danceable and 1.0 is most danceable."
                                    class="tooltip-custom">Danceability <i
                                        class="far fa-question-circle"></i></th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Measure from 0.0 to 1.0, reprensents intensity and energy."
                                    class="tooltip-custom">Energy <i class="far fa-question-circle"></i>
                                </th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Closer value to 1.0, greater likelyhood the track contains no vocals."
                                    class="tooltip-custom">Instrumentalness <i
                                        class="far fa-question-circle"></i></th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="A value of 0.8 provides a string likelyhood that the track is live."
                                    class="tooltip-custom">Liveness <i class="far fa-question-circle"></i>
                                </th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Overall loudness of the track in decibels(dB)."
                                    class="tooltip-custom">Loudness <i class="far fa-question-circle"></i>
                                </th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Values below 0.33 most likely represent music and other non-speech-like tracks."
                                    class="tooltip-custom">Speechiness <i
                                        class="far fa-question-circle"></i></th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Measure from 0.0 to 1.0 describing the musical positiveness conveyed by the track."
                                    class="tooltip-custom">Valence <i class="far fa-question-circle"></i>
                                </th>
                                <th data-toggle="tooltip" data-placement="top"
                                    title="Overall estimated tempo in beats per minute(BPM)."
                                    class="tooltip-custom">Tempo <i class="far fa-question-circle"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < tracks.audio_features.length; i++){ %>
                            <tr class="trackItem">
                                <td id="title<%= i %>"><%= titles.tracks[i].name %></td>
                                <td class="acousticness" id="a<%= i %>">
                                    <%= tracks.audio_features[i].acousticness %></td>
                                <td class="danceability" id="d<%= i %>">
                                    <%= tracks.audio_features[i].danceability %></td>
                                <td class="energy" id="e<%= i %>"><%= tracks.audio_features[i].energy %>
                                </td>
                                <td class="instrumentalness" id="ins<%= i %>">
                                    <%= tracks.audio_features[i].instrumentalness %>
                                </td>
                                <td class="liveness" id="li<%= i %>">
                                    <%= tracks.audio_features[i].liveness %>
                                </td>
                                <td class="loudness"><%= tracks.audio_features[i].loudness %></td>
                                <td class="speechiness" id="s<%= i %>">
                                    <%= tracks.audio_features[i].speechiness %></td>
                                <td class="valence" id="v<%= i %>"><%= tracks.audio_features[i].valence %>
                                </td>
                                <td class="tempo"><%= tracks.audio_features[i].tempo %></td>
                            </tr>
                            <% } %>
                            <tr class="bg-dark">
                                <td>Average</td>
                                <td id="avg_acousticness"></td>
                                <td id="avg_danceability"></td>
                                <td id="avg_energy"></td>
                                <td id="avg_instrumentalness"></td>
                                <td id="avg_liveness"></td>
                                <td id="avg_loudness"></td>
                                <td id="avg_speechiness"></td>
                                <td id="avg_valence"></td>
                                <td id="avg_tempo"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-5 ml-lg-3">
            <div class="col-lg-6">
                <div class="jumbotron text-white bg-dark">
                    <h1 class="display-4">Tes résultats!</h1>
                    <p>Une fois avoir mieux compris ce qui influence tes goûts musicaux, tu peux choisir les descriptifs appropriés et ajuster leur valeur. Les recommandations seront ensuite générées.</p>
                    <a class="btn btn-secondary" role="button" id="features_see_details_btn">Plus de détails</a>
                    <hr class="my-4">
                    <p>
                        <fieldset>
                            <legend>Pour obtenir une liste de lecture avec les paramètres de base, clique ici!</legend>
                            <a class="btn btn-secondary" role="button" id="features_easy_mode_btn">Mode Rapide</a>
                        </fieldset>
                    </p>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 mx-auto text-center text-white">
                <h2 class="" id="see_details_view">Valeurs moyennes pour tes <%= trackCount %> chansons choisis.</h2>
            </div>
        </div>
        <div class="row my-5 mx-5">
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_acousticness.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="acousticness_pieChart"></canvas>
                        <h6 class="my-3 font">Acousticness</h6>
                        <p id="pie_chart_avg_acousticness" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>   
            </div>
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_dance.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="danceability_pieChart"></canvas>
                        <h6 class="my-3">Danceability</h6>
                        <p id="pie_chart_avg_danceability" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>  
            </div>
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_energy.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="energy_pieChart"></canvas>
                        <h6 class="my-3">Energy</h6>
                        <p id="pie_chart_avg_energy" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>     
            </div>
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_instrumentalness.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="instrumentalness_pieChart"></canvas>
                        <h6 class="my-3">Instrumentalness</h6>
                        <p id="pie_chart_avg_instrumentalness" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>     
            </div>
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_valence.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="valence_pieChart"></canvas>
                        <h6 class="my-3">Valence (Happiness)</h6>
                        <p id="pie_chart_avg_valence" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 align-self-center mt-5">
                <img src="/imgs/ud_tempo.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 text-white text-center align-self-center mt-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <canvas id="tempo_pieChart"></canvas>
                        <h6 class="my-3">Tempo</h6>
                        <p id="pie_chart_avg_tempo" class="display-4 animated pulse slower infinite"></p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto noPaddingCard">
                <div class="card bg-dark text-white text-center my-3">
                    <div class="card-header">
                        <h4 class="card-title">Descriptifs</h4>
                        <h6>Clique sur une chanson pour la cacher</h6>
                    </div>
                    <div class="card-body graph-card" style="padding: 0;">
                        <canvas id="audio_features_linechart" style="min-height: 50vh;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto noPaddingCard">
                <div class="card bg-dark text-white text-center my-3">
                    <div class="card-header" id="checkbox_instructions">
                        <h2>Sur quoi veux tu que les résultats soient basés?</h2>
                    </div>
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Acousticness"> Acousticness
                            </label>
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Danceability"> Danceability
                            </label>
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Energy"> Energy
                            </label>
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Instrumentalness">
                                Instrumentalness
                            </label>
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Valence"> Valence
                            </label>
                            <label class="btn btn-elegant active">
                                <input type="checkbox" autocomplete="off" id="Tempo"> Tempo
                            </label>
                        </div>
                        <div id="slider_container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-5">
                <a class="btn btn-secondary font-weight-bold" id="back_btn">Retour</a>
                <a href="#checkbox_instructions" class="btn btn-secondary font-weight-bold"
                    id="next_btn_features">Terminer</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <%- include ("partials/footer") %>
            </div>
        </div>
    </div>
    </div>
    <script>
        // Send data to next page
        const access_token = '<%= access_token %>';
        let trackIds = '<%= trackIds %>';
        let queryString = "limit=100&seed_tracks=";
        const nextBtn = document.getElementById("next_btn_features");
        const easyModeBtn = document.getElementById("features_easy_mode_btn");

        let checkedBtnCount = 0;

        nextBtn.addEventListener("click", sendData);
        easyModeBtn.addEventListener("click", easyMode);

        function sendData() {
            if (checkedBtnCount > 0) {
                trackIds += "&";
                queryString += trackIds;

                // Audio Feature values
                let featureDisplays = document.getElementsByClassName("feature-display");
                let featureData = new Object();
                for (var i = 0; i < featureDisplays.length; i++) {
                    let key = featureDisplays[i].id.toLowerCase();
                    let value = parseFloat(featureDisplays[i].textContent);
                    featureData[key] = value;
                }

                const entries = Object.entries(featureData);
                for (const [key, value] of entries) {
                    queryString = queryString + key + "=" + value + "&";
                }
                queryString = queryString.slice(0, -1);

                // Desired Audio features
                let featuresList = "";
                let checkBoxes = document.getElementsByTagName("input");

                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].type === "checkbox" && checkBoxes[i].checked === true) {
                        featuresList = featuresList + checkBoxes[i].id + ", ";
                    }
                }
                featuresList = featuresList.slice(0, -2);

                let url = "/recommendations/" + access_token + "/" + queryString + "/" + featuresList + "/" + trackIds;
                nextBtn.href = url;
            } else {
                let instructions = document.getElementById("checkbox_instructions");
                let alert = document.createElement("h6");
                alert.textContent = "Please select at least 1 audio feature.";
                alert.setAttribute("class", "text-danger");

                instructions.appendChild(alert);
            }

        }

        function easyMode() {
            queryString += trackIds;

            let audioFeatures = {
                "danceability": audioFeaturesAvg.d, "energy": audioFeaturesAvg.e, "instrumentalness": audioFeaturesAvg.ins,
                "valence": audioFeaturesAvg.v, "tempo": audioFeaturesAvg.t
            };

            let maxTempo = audioFeaturesAvg.t + 10;
            let featuresList = ["Danceability", "Energy", "Instrumentalness", "Valence", "Tempo"];
            featuresList = featuresList.join(', ');

            const entries = Object.entries(audioFeatures);
            for (const [key, value] of entries) {
                if(key === "tempo"){
                    queryString += `&target_${key.toLowerCase()}=${value}&max_${key.toLowerCase()}=${maxTempo}`;
                }else{
                    queryString += `&target_${key.toLowerCase()}=${value}&max_${key.toLowerCase()}=${value + 0.05}`;
                }
            }

            let url = "/recommendations/" + access_token + "/" + queryString + "/" + featuresList + "/" + trackIds;
            easyModeBtn.href = url;
            }
    </script>
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/features.js"></script>
    <script src="/scripts/charts.js"></script>
</body>

</html>