<%- include ("partials/header") %>
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col">
                <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github mt-3 ml-1"
                        aria-hidden="true" id="gh_logo"></i></a>
            </div>
        </div>
        <div class="row h-100">
            <div class="container">
                <div class="row mt-5 align-items-center">     
                    <div class="col-8 mx-auto mt-2 text-white animated fadeInUp" style="z-index: 2;">
                        <button type="button" class="btn btn-custom-secondary" id="top_tracks_button">See All-Time Top Tracks</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-custom-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Playlists
                            </button>
                            <div class="dropdown-menu">
                            <% playlists.items.forEach(function(playlist){ %>
                                <a class="dropdown-item" href="#"><%= playlist.name %></a>
                            <% }) %> 
                            </div>
                        </div>    
                    </div>
                    <div class="col-4 mx-auto mt-2 animated fadeInUp">
                        <img src="<%= profile.images[0].url %>" alt="Profile Picture" class="img-thumbnail">
                    </div> 
                </div>
                <div class="row">
                    <div class="col text-center text-white mt-3">
                        <h2 class="display-5" id="time_header">Your 50 most-played Tracks, Recently</h2>
                        <p class="lead">Pick up to 5 tracks</p>

                        <!-- Long term top tracks table -->
                        <table class="table table-sm bg-transparent text-white mt-3 scrollableBody" id="top_tracks_table"
                            style="display: none;">
                            <caption class="text-center text-white">All-Time Top Tracks</caption>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                </tr>
                            </thead>
                            <tbody id="top_tracks_table_body">
                                <% long_tracks.items.forEach(function(track){ %>
                                <tr>
                                    <td class="trackTitle" data-track-id="<%= track.id %>" onclick="addTrackForAnalysis(this)">
                                        <%= track.name %>
                                    </td>
                                    <td><%= track.artists[0].name %> </td>
                                    <td><%= track.album.name %> </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
        
                        <!-- Recent term top tracks table -->
                        <table class="table table-sm bg-transparent text-white mt-3 scrollableBody" id="recent_tracks_table">
                            <caption class="text-center text-white">Recent Top Tracks (last ~4 weeks)</caption>
                            <thead>
                                <tr>
                                    <th>Track Title</th>
                                    <th>Artists</th>
                                    <th>Album</th>
                                </tr>
                            </thead>
                            <tbody id="recent_tracks_table_body">
                                <% short_tracks.items.forEach(function(track){ %>
                                <tr>
                                    <td class="trackTitle" data-track-id="<%= track.id %>" onclick="addTrackForAnalysis(this)">
                                        <%= track.name %>
                                    </td>
                                    <td><%= track.artists[0].name %> </td>
                                    <td><%= track.album.name %> </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>

                        <!-- Playlist items table -->
                        <div id="picked_tracks"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center mt-5" id="next_btn_container">
                        <a href="/features/<%= access_token %>/"
                            class="btn btn-secondary disabled" id="next_btn_main">Next</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <%- include ("partials/footer") %>
                    </div>
                </div>
            </div>        
        </div>   
    </div>
    </div>
