<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col">
                <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github mt-3 ml-1"
                        aria-hidden="true" id="gh_logo"></i></a>
            </div>
        </div>
        <div class="row h-100 align-items-center text-center main_welcome">
            <div class="col animated fadeInDown">
                <button class="btn btn-custom-primary font-weight-bold main_welcome mt-5"
                id="begin_btn">Begin</button>
            </div>
        </div>
        <div class="row h-100 pick_tracks_btns">
            <div class="col mx-auto text-center text-white animated fadeInUp">
                <h1 class="mt-3">Pick up to 5 Tracks</h1>
                <button type="button" class="btn btn-custom-secondary font-weight-bold" id="top_tracks_button">See All-Time
                    Top Tracks</button>

                <!-- Long term top tracks table -->
                <table class="table table-sm text-white mt-2 scrollableBody" id="top_tracks_table"
                    style="display: none;">
                    <caption class="text-white text-center">All-Time Top Tracks</caption>
                    <thead>
                        <tr>
                            <th>Track Title</th>
                            <th>Artists</th>
                            <th>Album</th>
                        </tr>
                    </thead>
                    <tbody id="top_tracks_table_body">
                        <% long_tracks.items.forEach(function(track){ %>
                        <tr>
                            <td class="trackTitle" data-track-id="<%= track.id %>" onclick="addTrackForAnalysis(this)">
                                <%= track.name %>
                            </td>
                            <td><%= track.artists[0].name %> </td>
                            <td><%= track.album.name %> </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>

                <!-- Recent term top tracks table -->
                <table class="table table-sm text-white mt-2 scrollableBody" id="recent_tracks_table"
                    style="display: none;">
                    <caption class="text-white text-center">Recent Top Tracks (last ~4 weeks)</caption>
                    <thead>
                        <tr>
                            <th>Track Title</th>
                            <th>Artists</th>
                            <th>Album</th>
                        </tr>
                    </thead>
                    <tbody id="recent_tracks_table_body">
                        <% short_tracks.items.forEach(function(track){ %>
                        <tr>
                            <td class="trackTitle" data-track-id="<%= track.id %>" onclick="addTrackForAnalysis(this)">
                                <%= track.name %>
                            </td>
                            <td><%= track.artists[0].name %> </td>
                            <td><%= track.album.name %> </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div id="picked_tracks"></div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" id="next_btn_container">
                <a href="/features/<%= access_token %>/"
                    class="btn btn-custom-primary font-weight-bold pick_tracks_btns disabled" id="next_btn">Next</a>
            </div>
        </div>
    </div>
    </div>
    <script src="/../scripts/scripts.js"></script>
    <script src="/../scripts/main.js"></script>
</body>

</html>