<%- include ("partials/header") %>
<div class="col" id="iFrameContainer"></div>
<div class="container-fluid">
    <div class="row" id="recommendations_top_page">
        <div class="col">
            <div class="alert alert-info" role="alert" style="display: none;" id="liked_song_alert"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github mt-3 ml-1"
                    aria-hidden="true" id="gh_logo"></i></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="container text-center text-white mt-5 animated fadeInLeft" style="z-index: 2; position: relative;">
                <div class="row">
                    <div class="col">
                        <!-- Recommendations header -->
                        <h1>Recommandations</h1>
                        <h4>
                            <span class="custom-green">
                                <span id="perfect_qty">0</span> Parfaites -
                            </span>
                            <span class="custom-yellow">
                                <span id="good_qty">0 </span> Bonnes -
                            </span>
                            <span class="custom-red">
                                <span id="acceptable_qty">0</span> Acceptable
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary" id="back_btn">Changer Paramètres</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-white my-3 animated fadeInLeft">
                        <h2>Créer une list de lecture</h2>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Type de liste de lecture
                            </button>
                            <div class="dropdown-menu">
                                <span class="dropdown-header">Chansons à inclure</span>
                                <a href="" class="dropdown-item" id="create_perfect_button">Parfaites seulement</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class="dropdown-item" id="create_good_button">Parfaites &
                                    Bonnes</a>
                                <div class="dropdown-divider"></div>
                                <a href="" class="dropdown-item" id="create_all_button">Toutes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="container">
                <div class="row">
                    <!-- Recommendations Cards -->
                    <% for(var i = 0; i < recommendations.tracks.length; i++){ %>
                    <div class="col-md-6 col-xl-4 mx-auto">
                        <div class="card track-card bg-dark my-3 mx-auto text-center text-white animated fadeInUpBig"
                            id="track_card<%= i %>">
                            <div class="card-header">
                                <h4><%= recommendations.tracks[i].name %></h4>
                                <div style="display: none;" class="recommendation_uri"><%= recommendations.tracks[i].uri %></div>
                                <p><%= recommendations.tracks[i].album.name %></p>
                                <p data-toggle="tooltip" data-placement="top"
                                title="Track Popularity" style="cursor: help;">
                                    <i class="fas fa-fire text-danger"></i>
                                    <span class="track_popularity"><%= recommendations.tracks[i].popularity %></span>
                                </p>

                                <div id="acousticness<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].acousticness %></div>
                                <div id="danceability<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].danceability %></div>
                                <div id="energy<%= i %>" style="display: none;"><%= features.audio_features[i].energy %>
                                </div>
                                <div id="instrumentalness<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].instrumentalness %></div>
                                <div id="liveness<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].liveness %>
                                </div>
                                <div id="loudness<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].loudness %>
                                </div>
                                <div id="speechiness<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].speechiness %></div>
                                <div id="valence<%= i %>" style="display: none;">
                                    <%= features.audio_features[i].valence %></div>
                                <div id="tempo<%= i %>" style="display: none;"><%= features.audio_features[i].tempo %>
                                </div>

                                <p class="card-maxFeature-icons"></p>

                                <% recommendations.tracks[i].artists.forEach(function(artist){ %>
                                <span class="btn btn-sm btn-outline-white my-1 mx-1"><%= artist.name %>
                                </span>
                                <% }) %>

                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col" id="<%= recommendations.tracks[i].id %>">
                                            <button class="btn btn-sm btn-outline-secondary" onclick="getTrackIframe(this, this.parentElement, iFrameContainer)">Jouer</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="/save/<%= recommendations.tracks[i].id %>/<%= access_token %>"
                                                class="btn btn-sm btn-outline-secondary like_song_btn"><i
                                                    class="fas fa-heart"></i> Aimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center text-dark my-3">
          <a class="display-4" id="recommendations_back_top_btn"><i class="fas fa-arrow-up text-secondary"></i></a>
          <p class="lead text-white">Retour en haut</p>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <%- include ("partials/footer") %>
        </div>
    </div>
</div>
<script>
    // Back button
    document.getElementById("back_btn").addEventListener("click", goBack);
    function goBack() {
        window.history.back();
    }

    const iFrameContainer = document.getElementById("iFrameContainer");
    const createAllBtn = document.getElementById("create_all_button");
    const createGoodBtn = document.getElementById("create_good_button");
    const createPerfectBtn = document.getElementById("create_perfect_button");
    const likeBtns = document.getElementsByClassName("like_song_btn");
    const savedAlert = document.getElementById("liked_song_alert");

    function createPlaylistUrl() {
        let trackUris = document.getElementsByClassName("recommendation_uri");
        let createPlaylistUri = "";
        let featuresList = '<%= featuresList %>';
        let access_token = '<%= access_token %>';

        // Perfect
        for (var i = 0; i < trackUris.length; i++) {
            if (trackUris[i].classList.contains("perfect")) {
                createPlaylistUri = createPlaylistUri + trackUris[i].innerHTML + ",";
            }
        }
        createPlaylistUri = createPlaylistUri.slice(0, -1);
        createPerfectBtn.href = "/create_playlist/" + access_token + "/" + createPlaylistUri + "/" + featuresList;
        createPlaylistUri = "";

        // Good
        for (var i = 0; i < trackUris.length; i++) {
            if (trackUris[i].classList.contains("good") || trackUris[i].classList.contains("perfect")) {
                createPlaylistUri = createPlaylistUri + trackUris[i].innerHTML + ",";
            }
        }
        createPlaylistUri = createPlaylistUri.slice(0, -1);
        createGoodBtn.href = "/create_playlist/" + access_token + "/" + createPlaylistUri + "/" + featuresList;
        createPlaylistUri = "";

        // Acceptable
        for (var i = 0; i < trackUris.length; i++) {
            createPlaylistUri = createPlaylistUri + trackUris[i].innerHTML + ",";
        }
        createPlaylistUri = createPlaylistUri.slice(0, -1);
        createAllBtn.href = "/create_playlist/" + access_token + "/" + createPlaylistUri + "/" + featuresList;
    }

    function alertCreatedPlaylist(id) {
        if (id === "create_perfect_button") {
            savedAlert.textContent = 'Playlist Created with only "Perfect" Tracks!';
        } else if (id === "create_good_button") {
            savedAlert.textContent = 'Playlist Created with both "Perfect" & "Good" Tracks!';
        } else {
            savedAlert.textContent = 'Playlist Created with All Tracks!';
        }
        savedAlert.style.display = "initial";
        setTimeout(function () {
            savedAlert.style.display = "none";
        }, 2000)
    }

    createPerfectBtn.addEventListener("click", function () { alertCreatedPlaylist(this.id); });
    createGoodBtn.addEventListener("click", function () { alertCreatedPlaylist(this.id); });
    createAllBtn.addEventListener("click", function () { alertCreatedPlaylist(this.id); });

    function alertSavedTrack() {
        savedAlert.textContent = 'Track Saved to "Liked Songs" on Spotify!';
        savedAlert.style.display = "initial";
        setTimeout(function () {
            savedAlert.style.display = "none";
        }, 2000)
    }
    likeBtns.forEach(function (btn) {
        btn.addEventListener("click", alertSavedTrack);
    })

    function checkMaxValues(targetFeature, data, container) {
        let params = '<%= featuresParams %>';
        if (params.includes(targetFeature)) {
            let targetValue;
            let perfect = true,
                good = true,
                featureScore = "";

            if (targetFeature === "target_tempo") {
                targetValue = parseFloat(params.split(targetFeature + "=").pop());
                let difference = Math.abs(targetValue - data);

                if (difference <= 3) {
                    container.classList.add("custom-green");
                } else if (difference <= 5) {
                    container.classList.add("custom-yellow");
                    perfect = false;
                } else {
                    container.classList.add("custom-red");
                    perfect = false, good = false;
                }

            } else {
                targetValue = parseFloat(params.split(targetFeature + "=").pop());
                let difference = Math.abs(targetValue - data);

                if (difference <= 0.05) {
                    container.classList.add("custom-green");
                } else if (difference <= 0.1) {
                    container.classList.add("custom-yellow");
                    perfect = false;
                } else {
                    container.classList.add("custom-red");
                    perfect = false, good = false;
                }
            }

            if (perfect) {
                featureScore = "perfect";
            } else if (good) {
                featureScore = "good";
            } else {
                featureScore = "acceptable";
            }
            return featureScore;
        }
    }

    function getTrackScore(featureData, featureCluster, uri) {
        let perfect = true, good = true;
        featureData.forEach(function (maxFeature) {
            if (maxFeature.classList.contains("good") || maxFeature.classList.contains("acceptable")) {
                perfect = false;
                if (maxFeature.classList.contains("acceptable")) {
                    good = false;
                }
            }
        })
        if (perfect) {
            featureCluster.classList.add("perfect");
            uri.classList.add("perfect");
        } else if (good) {
            featureCluster.classList.add("good");
            uri.classList.add("good");
        } else {
            featureCluster.classList.add("acceptable");
            uri.classList.add("acceptable");
        }
    }

    function updateScoreCounters() {
        let perfectCounter = document.getElementById("perfect_qty"),
            goodCounter = document.getElementById("good_qty"),
            acceptableCounter = document.getElementById("acceptable_qty"),
            featureClusters = document.getElementsByClassName("card-maxFeature-icons"),
            perfectCount = 0,
            goodCount = 0,
            acceptableCount = 0;

        featureClusters.forEach(function (cluster) {
            if (cluster.classList.contains("perfect")) {
                perfectCount++;
            } else if (cluster.classList.contains("good")) {
                goodCount++;
            } else if (cluster.classList.contains("acceptable")) {
                acceptableCount++;
            }
        })
        perfectCounter.innerHTML = perfectCount, goodCounter.innerHTML = goodCount, acceptableCounter.innerHTML = acceptableCount;
    }

    function getTrackIframe(button, parentElement, iFrameContainer){
        let iFrame = document.createElement("iframe");
        setAttributes(iFrame, { "src": "https://open.spotify.com/embed/track/" + parentElement.id, "width": "300", "height": "80", "frameborder": "1",
                                "allowtransparency": "true", "allow": "encrypted-media" });
        iFrameContainer.innerHTML = "";
        iFrameContainer.appendChild(iFrame);
    }

    window.onload = function () {
        let featureClusters = document.getElementsByClassName("card-maxFeature-icons"),
            recommendationUris = document.getElementsByClassName("recommendation_uri");
        let featuresString = '<%= featuresList %>';
        let featuresOptions = ["Acousticness", "Danceability", "Energy", "Instrumentalness",
            "Liveness", "Loudness", "Speechiness", "Valence", "Tempo"];
        let data, maxFeature, targetFeature, featureScore, featureDifference;

        for (var j = 0; j < featureClusters.length; j++) {
            let featureData = featureClusters[j].children;

            for (var i = 0; i < featuresOptions.length; i++) {
                if (featuresString.includes(featuresOptions[i])) {
                    let container = document.createElement("span");
                    featureClusters[j].appendChild(container);

                    switch (featuresOptions[i]) {
                        case "Acousticness":
                            targetFeature = "target_acousticness";
                            data = parseFloat(document.getElementById("acousticness" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-guitar"></i> ' + data;
                            setAttributes(container, { "class": "mx-2 maxFeature", "data-toggle": "tooltip", "data-placement": "right", "title": "Acousticness. 1.0 represents high confidence track is acoustic.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Danceability":
                            targetFeature = "target_danceability";
                            data = parseFloat(document.getElementById("danceability" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-child"></i> ' + data;
                            setAttributes(container, { "class": "mx-2 maxFeature", "data-toggle": "tooltip", "data-placement": "right", "title": "Danceability. A value of 0.0 is least danceable and 1.0 is most danceable.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Energy":
                            targetFeature = "target_energy";
                            data = parseFloat(document.getElementById("energy" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-battery-three-quarters"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Energy. Measure from 0.0 to 1.0, reprensents intensity and energy.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Instrumentalness":
                            targetFeature = "target_instrumentalness";
                            data = parseFloat(document.getElementById("instrumentalness" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="far fa-surprise"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Instrumentalness. Closer value to 1.0, greater likelyhood the track contains no vocals.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Liveness":
                            targetFeature = "target_liveness";
                            data = parseFloat(document.getElementById("liveness" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-tv"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Liveness. A value of 0.8 provides a string likelyhood that the track is live.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Loudness":
                            targetFeature = "target_loudness";
                            data = parseFloat(document.getElementById("loudness" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-volume-up"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Loudness. Overall loudness of the track in decibels(dB).", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Speechiness":
                            targetFeature = "target_speechiness";
                            data = parseFloat(document.getElementById("speechiness" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="far fa-comment-dots"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Speechiness. Values below 0.33 most likely represent music and other non-speech-like tracks.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Valence":
                            targetFeature = "target_valence";
                            data = parseFloat(document.getElementById("valence" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="far fa-smile-beam"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Valence. Measure from 0.0 to 1.0 describing the musical positiveness conveyed by the track.", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;

                        case "Tempo":
                            targetFeature = "target_tempo";
                            data = parseFloat(document.getElementById("tempo" + j).textContent).toPrecision(3);
                            container.innerHTML = '<i class="fas fa-drum"></i> ' + data;
                            setAttributes(container, { "class": "mx-2", "data-toggle": "tooltip", "data-placement": "right", "title": "Tempo. Overall estimated tempo in beats per minute(BPM).", "style": "cursor: help" })
                            featureScore = checkMaxValues(targetFeature, data, container);
                            container.classList.add(featureScore);
                            break;
                    }
                }
            }
            getTrackScore(featureData, featureClusters[j], recommendationUris[j]);
        }
        createPlaylistUrl();
        updateScoreCounters();
    }
</script>
<script src="/scripts/scripts.js"></script>
<script src="/scripts/recommendations.js"></script>
</body>

</html>